<div class="create-client-modal">
  <div class="modal-header">
    <h3>{{ 'CREATE_MODAL.TITLE' | translate }}</h3>
    <button class="close-btn" (click)="close()">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 1L1 13M1 1L13 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>
  </div>

  <div class="modal-body">
    @if (errorMessage()) {
      <div class="error-message">
        {{ errorMessage() }}
      </div>
    }
    <div class="tabs">
      <button
        [class.active]="activeTab() === 'basic'"
        (click)="setActiveTab('basic')"
        class="tab-btn">
        {{ 'CREATE_MODAL.BASIC_DATA' | translate }}
      </button>
      <button
        [class.active]="activeTab() === 'additional'"
        (click)="setActiveTab('additional')"
        class="tab-btn">
        {{ 'CREATE_MODAL.ADDITIONAL_DATA' | translate }}
      </button>
    </div>

    <form (ngSubmit)="onCreateClient()">
      @if (activeTab() === 'basic') {
        <div class="tab-content">
          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.FIO_LABEL' | translate"
              type="text"
              [(ngModel)]="fio"
              name="fio"
              [required]="true"
              [placeholder]="'CREATE_MODAL.FIO_PLACEHOLDER' | translate">
            </app-custom-input>

            <app-custom-input
              [label]="'CREATE_MODAL.PHONE_LABEL' | translate"
              type="tel"
              [(ngModel)]="phone"
              name="phone"
              [placeholder]="'CREATE_MODAL.PHONE_PLACEHOLDER' | translate">
            </app-custom-input>
          </div>

          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.EMAIL_LABEL' | translate"
              type="email"
              [(ngModel)]="email"
              name="email"
              [placeholder]="'CREATE_MODAL.EMAIL_PLACEHOLDER' | translate">
            </app-custom-input>

            <app-custom-input
              [label]="'CREATE_MODAL.CITY_LABEL' | translate"
              type="text"
              [(ngModel)]="city"
              name="city"
              [placeholder]="'CREATE_MODAL.CITY_PLACEHOLDER' | translate">
            </app-custom-input>
          </div>

          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.BIRTHDAY_LABEL' | translate"
              type="date"
              [(ngModel)]="birthday"
              name="birthday">
            </app-custom-input>

            <div class="form-group">
              <label>{{ 'CREATE_MODAL.GENDER.LABEL' | translate }}</label>
              <select [(ngModel)]="gender" name="gender" class="form-control">
                <option value="">{{ 'CREATE_MODAL.GENDER.NOT_SPECIFIED' | translate }}</option>
                <option value="male">{{ 'CREATE_MODAL.GENDER.MALE' | translate }}</option>
                <option value="female">{{ 'CREATE_MODAL.GENDER.FEMALE' | translate }}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.CAR_NUMBER_LABEL' | translate"
              type="text"
              [(ngModel)]="carNumber"
              name="carNumber"
              [placeholder]="'CREATE_MODAL.CAR_NUMBER_PLACEHOLDER' | translate">
            </app-custom-input>

            <app-custom-input
              [label]="'CREATE_MODAL.TEMPLATE_LABEL' | translate"
              type="text"
              [(ngModel)]="template"
              name="template"
              [disabled]="true"
              [placeholder]="'CREATE_MODAL.TEMPLATE_PLACEHOLDER' | translate">
            </app-custom-input>
          </div>
        </div>
      }
      @if (activeTab() === 'additional') {
        <div class="tab-content">
          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.DISCOUNT_LABEL' | translate"
              type="number"
              [(ngModel)]="discount"
              name="discount"
              [placeholder]="'CREATE_MODAL.DISCOUNT_PLACEHOLDER' | translate">
            </app-custom-input>

            <app-custom-input
              [label]="'CREATE_MODAL.BONUS_LABEL' | translate"
              type="number"
              [(ngModel)]="bonus"
              name="bonus"
              [placeholder]="'CREATE_MODAL.BONUS_PLACEHOLDER' | translate"
            >
            </app-custom-input>
          </div>

          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.LOYALTY_LEVEL_LABEL' | translate"
              type="text"
              [(ngModel)]="loyaltyLevel"
              name="loyaltyLevel"
              [placeholder]="'CREATE_MODAL.LOYALTY_LEVEL_PLACEHOLDER' | translate">
            </app-custom-input>

            <app-custom-input
              [label]="'CREATE_MODAL.BARCODE_LABEL' | translate"
              type="text"
              [(ngModel)]="barcode"
              name="barcode"
              [placeholder]="'CREATE_MODAL.BARCODE_PLACEHOLDER' | translate">
            </app-custom-input>
          </div>

          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.KEY3_LABEL' | translate"
              type="text"
              [(ngModel)]="key3"
              name="key3"
              [placeholder]="'CREATE_MODAL.KEY3_PLACEHOLDER' | translate">
            </app-custom-input>

            <app-custom-input
              [label]="'CREATE_MODAL.KEY4_LABEL' | translate"
              type="text"
              [(ngModel)]="key4"
              name="key4"
              [placeholder]="'CREATE_MODAL.KEY4_PLACEHOLDER' | translate">
            </app-custom-input>
          </div>

          <div class="form-row">
            <app-custom-input
              [label]="'CREATE_MODAL.KEY5_LABEL' | translate"
              type="text"
              [(ngModel)]="key5"
              name="key5"
              [placeholder]="'CREATE_MODAL.KEY5_PLACEHOLDER' | translate">
            </app-custom-input>

            <app-custom-input
              [label]="'CREATE_MODAL.KEY6_LABEL' | translate"
              type="text"
              [(ngModel)]="key6"
              name="key6"
              [placeholder]="'CREATE_MODAL.KEY6_PLACEHOLDER' | translate">
            </app-custom-input>
          </div>
        </div>
      }
    </form>
  </div>

  <div class="modal-footer">
    <div class="footer-buttons">
      <button type="button" class="btn btn-secondary" (click)="close()">
        {{ 'APP.CANCEL' | translate }}
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onCreateClient()"
        [disabled]="creating() || !fio">
        {{ creating() ? ('CREATE_MODAL.CREATING' | translate) : ('CREATE_MODAL.CREATE' | translate) }}
      </button>
    </div>
  </div>
</div>
